.redBack{
    background-color: #974C5E;
}
.brownBack{
    background-color: #F2EDD9;
}
.hoverBrown{
    background-color: #7E5959;
}
.whiteText{
    color: white;
}
.FootText{
    color: white;
    font-size: 22px;
}
.foot{
    background-color: #974C5E;
    height: 25vh;
}
.padZero{
    padding-left: 5%;
    padding-right: 5%;
}
.marginPad{
    margin-right: 10%;
}
.nav-link:hover { color: black; }

.navFont{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.regularFont{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}